body {
  background-color: #958976;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 110vh;
}

h1 {
  font-family: "Open Sans", sans-serif;
  color: #DDDCC5;
  filter: drop-shadow(2,2,2);
  font-size: 4em;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #DDDCC5;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #1D2326;
}
.navUl {
  margin: 0;
  padding: 0;
  height: 7vh;
  text-align: center;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  align-items: center;
  background-color: #1D2326;
}

.navBar a {
  color: #958976;
  margin-right: 1.5em;
}

div .navIcon {
  height: 4vh;
  width: 4vw;
  align-items: center;
}

.Hero {
  width: 75vw;
  max-width: 500px;
  justify-content: center;
}

footer {
  height: 7vh;
  background-color: #1D2326;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer p {
  font-size: 1em;
  color: #DDDCC5;
  margin-right: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

footer a {
  color: #958976;
}

div.App {
  padding: 0;
  margin: 0;
}
